*{
  text-align: center;
  font-family:Helvetica;
}

p{
  border:1px solid black;
  padding:1rem;

}

.f1{
  animation: event 10s;
}

.f2{
  animation: event 20s;
}

.result{
  animation: event 30s;
}


@keyframes event{
  0% {opacity: 0;}
  100% {opacity: 1;}
}
